{% extends 'masterpage.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}  صحفية مال {% endblock title %}


{% block body %}
<section class="min-vh-85 mb-8">
    <div class=" page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style=" background-image: url('../../../static/images/maalbg.jpeg');">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 text-center mx-auto pt-lg-6">
            <div class="card h-50">
            <div class="card-body">
            <p class="text-danger text-xs  text-center">إشترك لدينا ليصلك جميع الأشعارات الخاصة بعالم الأقتصاد </p>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
          <div class="col-12 mx-auto">
              <div class="card z-index-0 box-shadow h-100 p-5">
              <div class="card-header">
              <div class="row col-10 text-align-center">
              <h3 class="text-black text-center"> الأشتراك بخدمات الموقع</h3>
              </div>
              </div
            <div class="card-body">
                   <form action="#" method="post">
                            {% csrf_token %}
               <div class="form-group row">
                                <div class="col-md-12 mb-4 mb-lg-0">
                                    <input type="text" name="first_name" class="form-control" placeholder="(الأسم الأول)">
                                </div>
                                <div class="col-md-6">
                                    <input type="text" name="last_name" class="form-control" placeholder="(إسم العائله)">
                                </div>
                            </div>

                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="email" name="email" class="form-control"
                                           placeholder="البريد الألكترونى">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="password" name="password" class="form-control" placeholder="كلمة السر">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="text" name="address" class="form-control" placeholder="العنوان">
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-md-12">
                                    <input type="number" name="phone" class="form-control" placeholder="رقم الجوال">
                                </div>
                            </div>
                            <center>
                                    <input type="submit" class="btn bg-maal mb-0 text-white "
                                           value="إنشاء حساب">
                                </center>

                        </form>
            </div>
        </div>
          </div>
      </div>
    </div>
</section>
{% endblock body %}



