{% extends 'main.html' %}

{% block title %}
    التوقعات للأرباح
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>التوقعات للأرباح</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        {% if expectations.count < 0 %}

                            <p>لا توجد بيانات</p>
                        {% else %}
                            <div class="row">
                                <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
                                    <div class="card">
                                        <div class="card-body p-3">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="numbers">
                                                        <a style="cursor: pointer;text-decoration: none" href="{% url 'expect-add' %}">
                                                            <p class="text-sm mb-0 text-capitalize font-weight-bold">
                                                                إضافة توقع</p>

                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-4 text-start">
                                                    <div class="icon icon-shape bg-maal shadow text-center border-radius-md">
                                                        <a href="{% url 'expect-add' %}" style="cursor: pointer; text-decoration: none">
                                                            <i class="fas fa-plus text-lg opacity-10"
                                                               aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                <div class="table-responsive">

                    <table style="margin: 0 auto;" class="table table-max table-bordered align-items-center mb-auto">
                        <thead class="text-black">
                        <tr>
                            <th class="text-dark text-xxs" style="width: 2rem;">
                                الشركة
                            </th>
                            <th class="text-dark text-xxs " style="width: 2rem;">
                                شركة الأبحاث
                            </th>
                            <th class="text-dark text-xxs " style="width: 2rem;">
                                توقعات الأرباح
                            </th>

                            <th class="text-center text-dark text-xxs" style="width: 2rem;">
                                الربع الثالث 2020
                            </th>

                            <th class="text-center text-dark text-xxs" style="width: 2rem;">
                                مدى الأنحراف
                            </th>
                            <th class="text-center text-dark text-xxs" style="width: 2rem;">
                                الربع الثانى 2021
                            </th>
                            <th class="text-center text-dark text-xxs" style="width: 2rem;">
                                مدى الأنحراف
                            </th>
                             <th class="text-center text-dark text-xxs" style="width: 2rem;">
                               الأرباح الفعلية
                            </th>

                            <th class="text-center text-dark text-xxs" style="width: 2rem;">
                                المرفق
                            </th>
                            <th class="text-center text-dark text-xxs" style="width: 2rem;">

                            </th>
                        <th class="text-center text-dark text-xxs" style="width: 2rem;">

                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in expectations %}
                            <tr>
                                <td>

                                        <p class="mb-0 text-xxs">{{ item.CompanyEntered.name }}</p>
                                </td>
                                <td>

                                        <p class=" text-xxs">{{ item.ResearchCompany.name }}</p>
                                </td>
                                <td>

                                    <p class="mb-0 text-xxs">{{ item.realEarn }}</p>
                                </td>
                                <td class="align-middle text-center text-xxs">
                                    <p class="mb-0 text-xxs">{{ item.third2020 }}</p>

                                </td>
                                <td class="align-middle text-center">
                                    {% if item.deviationthird2020 < 0 %}
                                        <span class="text-danger text-xxs ">{{ item.deviationthird2020|floatformat:-2 }} %</span>
                                    {% else %}
                                        <span class="text-success text-xxs">{{ item.deviationthird2020|floatformat:-2 }} %</span>
                                    {% endif %}
                                </td>
                              <td class="align-middle text-center text-xxs">
                                    <p class="mb-0 text-xxs">{{ item.second2020 }}</p>

                                </td>
                              <td class="align-middle text-center text-xxs">
                                    {% if item.deviationsecond2020 < 0 %}
                                        <span class="text-danger text-xxs">{{ item.deviationsecond2020|floatformat:-2 }} %</span>
                                    {% else %}
                                        <span class="text-success text-xxs">{{ item.deviationsecond2020|floatformat:-2 }} %</span>
                                    {% endif %}
                                </td>
 <td class="align-middle text-center text-xxs">
                                    <p class="mb-0 text-xxs">{{ item.realEarn }}</p>

                                </td>

                             <td class="align-middle text-center text-xxs">
                                   <a href="{{ item.report.url }}"><i class="fas fa-file-pdf text-xxs" aria-hidden="true"></i></a>
                                </td>

      <td class="ms-auto text-start">

                                            <a class="btn btn-link text-dark px-3 mb-0" href="{% url 'expect-delete' item.pk %}"><i class="fas fa-trash text-danger me-2" aria-hidden="true"></i>حذف</a>
                                        </td>
   <td class="ms-auto text-start">
       <a class="btn btn-link text-dark px-3 mb-0" href="{% url 'expect-update' item.pk %}"><i class="fas fa-pencil-alt text-success"></i>تعديل</a>

   </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>


                        {% endif %}
                    </div>
                    {% include 'partials/_pagination.html' with page_obj=expectations only %}

                </div>
            </div>
        </div>
    </div>

{% endblock %}