{% extends 'main.html' %}

{% block title %}
    التوقعات للأرباح
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-12">
            <div class="card mb-4">
                <div class="card-header pb-0">
                    <h6>التوقعات للأرباح</h6>
                </div>
                <div class="card-body px-0 pt-0 pb-2">
                    <div class="table-responsive p-0">
                        {% if expectations.count < 0 %}

                            <p>لا توجد بيانات</p>
                        {% else %}
                            <div class="row">
                                <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
                                    <div class="card">
                                        <div class="card-body p-3">
                                            <div class="row">
                                                <div class="col-6">
                                                    <div class="numbers">
                                                        <a style="cursor: pointer;text-decoration: none" href="{% url 'expect-add' %}">
                                                            <p class="text-sm mb-0 text-capitalize font-weight-bold">
                                                                إضافة توقع</p>

                                                        </a>
                                                    </div>
                                                </div>
                                                <div class="col-4 text-start">
                                                    <div class="icon icon-shape bg-maal shadow text-center border-radius-md">
                                                        <a href="{% url 'expect-add' %}" style="cursor: pointer; text-decoration: none">
                                                            <i class="fas fa-plus text-lg opacity-10"
                                                               aria-hidden="true"></i>
                                                        </a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            {% include 'partials/_realExpectTable.html' with expects=expectations content=headers %}
                            {% include 'partials/_pagination.html' with page_obj=expectations only %}
                        {% endif %}
                        </div>
        </div>
    </div>

{% endblock %}