{% extends 'main.html' %}
{% load static %}

{% block title %}  التقييم البحثى {% endblock title %}


{% block body %}
<div class="col-md-10 mt-2">
    <div class="card">
        <div class="card-header pb-0 px-3">
            <h6 class="mb-0">تفاصيل التقييم</h6>
        </div>
        <div class="card-body pt-4 p-3">
            <ul class="list-group">
                <li class="list-group-item border-0 d-flex p-4 mb-2 bg-gray-100 border-radius-lg">
                    <div class="d-flex flex-column">
                        <span class="mb-2 text-xl">الشركة المدرجة <span class="text-dark font-weight-bold ms-sm-2">{{ rate.CompanyEntered }}</span></span>
                        <span class="mb-2 text-lg">شركة الأبحاث <span class="text-dark ms-sm-2 font-weight-bold">{{ rate.ResearchCompany }}</span></span>
                        <span class="text-lg">إسم المحلل<span class="text-dark ms-sm-2 font-weight-bold">{{ rate.AnalayticName }}</span></span>
                        <span class="text-lg">التوصية <span class="text-dark ms-sm-2 font-weight-bold">{{ rate.Recommendation }}</span></span>
                        <span class="text-lg">القيمة العادلة <span class="text-dark ms-sm-2 font-weight-bold">{{ rate.FairValue }}</span></span>
                        <span class="text-lg">السعر وقت التوصية <span class="text-dark ms-sm-2 font-weight-bold">{{ rate.CurrenncyValue }}</span></span>
                        <span class="text-lg">الفارق % <span class="text-dark ms-sm-2 font-weight-bold">{{ rate.fair_percentage }}</span></span>
                        <span class="text-lg">السعر السوقى <span class="text-dark ms-sm-2 font-weight-bold">{{ rate.CurrenncyValue }}</span></span>
                        <span class="text-lg">الفارق %<span class="text-dark ms-sm-2 font-weight-bold">{{ rate.market_percentage }}</span></span>
                        <span class="text-lg" style="cursor:pointer;">التقرير <span class="text-dark ms-sm-2 font-weight-bold"><a href="{{ MEDIA_URL }}{{ rate.report.name }}"><i class="far fa-file-pdf font-weight-bold mb-0"></i></a></span></span>
                        <span class="text-lg">تاريخ التوصية <span class="text-dark ms-sm-2 text-lg font-weight-bold">{{ rate.RecommendDate.Date }}</span></span>

                    </div>
                    <div class="ms-auto text-end">
                       {% if request.user.user_type == 1 %}
                        <a class="btn btn-link text-danger  px-3 mb-0" href="#"><i class="far fa-trash-alt text-danger me-2" aria-hidden="true"></i>مسح</a>
                       {% endif %}
                        <a class="btn btn-link text-dark px-3 mb-0" href="{% url 'rate-update' rate.pk %}"><i class="fas fa-pencil-alt text-dark me-2" aria-hidden="true"></i>تعديل</a>
                    </div>
                </li>

            </ul>
        </div>
    </div>
</div>


{% endblock body %}