{% extends 'masterpage.html' %}
{% load static %}
{% block title %}  صحفية مال {% endblock title %}


{% block body %}
<section class="min-vh-85 mb-8">
    <div class=" page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style=" background-image: url('../../../static/images/maalbg.jpeg');">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 text-center mx-auto pt-lg-5">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
                      <div class="col-lg-10 col-md-10">
          <div class="card h-100">
            <div class="card-header pb-0">
              <h6>صحفية مال الأقتصادية</h6>
              <p class="text-xl-center">
                <i class="fas fa-user-circle" aria-hidden="true"></i>
                <span class="font-weight-bold">{{ user.first_name }} {{ user.last_name }}</span>
              </p>
            </div>
            <div class="card-body p-3">
              <div class="timeline timeline-one-side">
                <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <i class="fas fa-envelope-open-text"></i>
                  </span>
                  <div class="timeline-content">
                    <h6 class="text-dark text-sm font-weight-bold mb-0">البريد الألكترونى</h6>
                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">{{ user.email }}</p>
                  </div>
                </div>
                <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <i class="fas fa-building "></i>
                  </span>
                  <div class="timeline-content">
                    <h6 class="text-dark text-sm font-weight-bold mb-0">العنوان</h6>
                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">{{ user.address }}</p>
                  </div>
                </div>
                <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <i class="fas fa-calendar-times"></i>
                  </span>
                  <div class="timeline-content">
                    <h6 class="text-dark text-sm font-weight-bold mb-0">تاريخ الأنضمام</h6>
                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">{{ user.date_joined }}</p>
                  </div>
                </div>
                <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <i class="fas fa-phone "></i>
                  </span>
                  <div class="timeline-content">
                    <h6 class="text-dark text-sm font-weight-bold mb-0">الهاتف</h6>
                    <p class="text-secondary ">{{ user.phone }}</p>
                  </div>
                </div>
                <div class="timeline-block mb-3">
                  <span class="timeline-step">
                    <i class="fas fa-building "></i>
                  </span>
                  <div class="timeline-content">
                    <h6 class="text-dark text-sm font-weight-bold mb-0">الوظيفة</h6>
                    <p class="text-secondary font-weight-bold text-xs mt-1 mb-0">{{ request.user.get_user_type_display  }}</p>
                      
                  </div>
                </div>
                <div class="timeline-block">
                  <span class="timeline-step">
                    <i class="fas fa-user-edit "></i>
                  </span>
                  <div class="timeline-content">
                    <a href="{% url 'user-edit' user.pk %}" class="text-dark text-sm font-weight-bold mb-0">تعديل</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
</section>
{% endblock body %}


