{% extends 'masterpage.html' %}
{% load static %}
{% block title %}  صحفية مال {% endblock title %}


{% block body %}
<section class="min-vh-85 mb-8">
    <div class=" page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style=" background-image: url('../../../static/images/maalbg.jpeg');">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 text-center mx-auto pt-lg-5">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center pt-5">
                     <div class="col-lg-12">
                <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
        <div class="row gx-4">
          <div class="col-auto">
            <div class="avatar avatar-xl position-relative">
              <img src="{{ data.logo_url }}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
             
            </div>
          </div>
          <div class="col-auto my-auto">
            <div class="h-100">

                       <h5 class="mb-1">

          {{ data.name }}
                             </h5>
                             <p class="mb-1">
                        {% for code in data.company.all %}
                             {{ code }} -
                        {% endfor %}
                             </p>
            </div>
          </div>
        </div>
      </div>

            </div>

      </div>
                    <div class="row pt-3 pt-lg-3 pb-3">
     <div class="col-12 col-xl-12 pt-6">
                      <div class="card h-100">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">التقيمات</h6>
            </div>
                                              <div class="card-body px-0 pb-2">
                                                {% include 'partials/_rateMoreDetails.html' with rates=data.CompanyEntered.all  %}
                        </div>

          </div>

        </div>
        <div class="col-12 col-xl-12 pt-6">
                      <div class="card h-100">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0"> الأرباح الفعلية  </h6>
            </div>
                                  <div class="card-body px-0 pb-2">
{% if data.expects.first.real_earn == None  %}
<div class="row pt-2">
  <h5 class="text-center text-muted text-xs"> لا يوجد أرباح فعلية معلنة لهذة الشركة  </h5>

</div>
{% else %}
<div class="row pt-2">
  {% include 'partials/_realExpectTable.html' with content=secondHeader expects=data.expects.all  %}

</div>
{% endif %}

                                  <div class="row pt-4">
                                      <div class="card card-plain h-100 pt-6">
                                          <div class="card-header">
              <h6 class="mb-0">توقعات الأرباح</h6>

                                          </div>
                                           <div class="card-body px-0 pb-2">
                                            {% if data.expects.first.expect_earn == None  %}
                                            <div class="row pt-2">
                                              <h5 class="text-center text-muted text-xs"> لا يوجد أرباح فعلية معلنة لهذة الشركة  </h5>
                                            
                                            </div>
                                            {% else %}
                                            <div class="row pt-2">
                                              {% include 'partials/_expectTable.html' with expects=data.expects.all content=firstHeader %}
                                            
                                            </div>
                                            {% endif %}
                                            
                                            
            </div>
                                      </div>

                                  </div>
            </div>


          </div>
        </div>
    </div>

    <div class="row pt-1 pt-lg-1 pb-3">
        <div class="col-12 col-xl-12 pt-3">
            <div class="card h-100">
  <div class="card-header pb-0 p-3">
    <h6 class="mb-0">ملكيات الأسهم</h6>
  </div>
  
  <div class="card-body px-0 pb-2">
   {% include 'partials/_companiesArrowTable.html' with companyarrows=arrows %}
           </div>
  </div>
  </div>
        </div>
</div>
</section>
{% endblock body %}