{% extends 'masterpage.html' %}
{% load static %}
{% block title %}  صحفية مال {% endblock title %}


{% block body %}
<section class="min-vh-85 mb-8">
    <div class=" page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style=" background-image: url('../../../static/images/aida.jpeg');background-position: right;background-origin: content-box;">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 text-center mx-auto pt-lg-5">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center pt-5">
                     <div class="col-lg-12">
                <div class="card card-body blur shadow-blur mx-4 mt-n6 overflow-hidden">
        <div class="row gx-4">
          <div class="col-auto">
            <div class="avatar avatar-xl position-relative">
              <img src="../../../static/images/{{ data.logo.name }}" alt="profile_image" class="w-100 border-radius-lg shadow-sm">
            </div>
          </div>
          <div class="col-auto my-auto">
            <div class="h-100">

                       <h5 class="mb-1">

          {{ data.name }}
                             </h5>
                             <p class="mb-1">
                        {% for code in data.company.all %}
                             {{ code }} -
                        {% endfor %}
                             </p>
            </div>
          </div>
        </div>
      </div>

            </div>

      </div>
                    <div class="row pt-3 pt-lg-3 pb-3">
     <div class="col-12 col-xl-12 pt-6">
                      <div class="card h-100">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0">التقيمات</h6>
            </div>
                                              <div class="card-body px-0 pb-2">
                            <table style="margin:0 auto;"
                                   class="table table-max table-bordered align-items-center mb-auto">
                                <thead class="text_black">
                                <tr>
                                    <th class="text-center text-xxs" style="width: 1.5rem;">
                                        المحلل
                                    </th>
                                    <th class="text-center text-xxs" style="width: 2rem;">
                                        شركة الأبحاث
                                    </th>
                                    <th class="text-center   text-xxs " style="width: 2rem;">
                                        التوصية
                                    </th>
                                    <th class="text-center   text-xxs " style="width: 2rem;">
                                        السعر وقت التوصية
                                    </th>
                                    <th class="text-center   text-xxs " style="width: 2.5rem;">
                                        السعر المستهدف
                                    </th>
                                    <th class="text-center   text-xxs " style="width: 2.5rem;">
                                        التغير
                                    </th>
                                    <th class="text-center   text-xxs " style="width: 2.5rem;">
                                        أخر إغلاق
                                    </th>
                                    <th class="text-center   text-xxs " style="width: 2.5rem;">
                                        التغير
                                    </th>
                                    <th class="text-center   text-xxs " style="width: 1.5rem;">
                                        التقرير
                                    </th>
                                    <th class="text-center   text-xxs " style="width: 2rem;">
                                        تاريخ التوصية
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in data.CompanyEntered.all %}
                                    <tr>
                                        <td class="align-middle text-center text-xxs">
                                             <a href="{% url 'user-interface' item.AnalayticName.pk %}">
                                                            <p class="text-xxs">{{ item.AnalayticName.name }}</p>
                                                        </a>

                                        </td>
                                        <td class="align-middle text-center text-xxs">
                                            <p class="text-xxs  mb-0">{{ item.ResearchCompany.name }}</p>
                                        </td>
                                        <td class="align-middle text-center text-xxs">
                                            <p class="text-xxs  mb-0">{{ item.get_Recommendation_display }}</p>
                                        </td>
                                        <td class="align-middle text-center text-xxs">
                                            <p class="text-xxs  mb-0">{{ item.CurrenncyValue }}</p>
                                        </td>
                                        <td class="align-middle text-center text-xxs">
                                            <p class="text-xxs  mb-0">{{ item.FairValue }}</p>
                                        </td>
                                        <td class="align-middle text-center text-xxs">
                                            {% if item.changeFair %}
                                                <i class="fas fa-arrow-down text-danger" aria-hidden="true"></i>
                                                <p class="text-xxs text-danger  mb-0">{{ item.fair_percentage |floatformat:-2 }}</p>
                                            {% else %}
                                                <i class="fas fa-arrow-up text-success" aria-hidden="true"></i>
                                                <p class="text-xxs text-success  mb-0">{{ item.fair_percentage |floatformat:-2 }}</p>
                                            {% endif %}
                                        </td>
                                        <td class="align-middle text-center text-xxs">
                                            <p class="text-xxs  mb-0">{{ item.MarketValue }}</p>
                                        </td>
                                        <td class="align-middle text-center text-xxs">
                                            {% if item.changeMarket %}
                                                <i class="fas fa-arrow-down text-danger" aria-hidden="true"></i>
                                                <p class="text-xxs text-danger  mb-0">{{ item.market_percentage |floatformat:-2 }}</p>
                                            {% else %}
                                                <i class="fas fa-arrow-up text-success" aria-hidden="true"></i>
                                                <p class="text-xxs text-success  mb-0">{{ item.market_percentage |floatformat:-2 }}</p>
                                            {% endif %}
                                        </td>

                                        <td class="align-middle text-center text-xxs">
                                            <a href="../../../static/images/reportspdf/{{ item.report.name }}">
                                                <i class="fas fa-file-pdf text-danger">
                                                </i>
                                            </a>
                                        </td>
                                        <td class="align-middle text-center text-xxs">
                                            <p class="text-xxs text-black-50  mb-0">{{ item.RecommendDate|date:"Y-m-d" }}</p>
                                        </td>

                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                        </div>

          </div>

        </div>
        <div class="col-12 col-xl-12 pt-6">
                      <div class="card h-100">
            <div class="card-header pb-0 p-3">
              <h6 class="mb-0"> الأرباح الفعلية  </h6>
            </div>
                                  <div class="card-body px-0 pb-2">
<div class="row pt-2">
                        <div class="table-responsive">

                    <table style="margin: 0 auto;" class="table table-max table-bordered align-items-center">
                        <thead class="text-black">
                        <tr>
                              <th class=" text-dark text-xxs" style="width: 2rem;">
                              الشركة
                            </th>
                            <th class="text-dark text-xxs " style="width: 2rem;">
                                شركة الأبحاث
                            </th>
                            <th class="text-dark text-xxs " style="width: 2rem;">
                                توقعات الأرباح
                            </th>
  <th class="text-dark text-xxs " style="width: 2rem;">
                           الأرباح الفعلية
                            </th>
                            <th class=" text-dark text-xxs" style="width: 2rem;">
مدى الأنحراف
                            </th>

                            <th class=" text-dark text-xxs" style="width: 2rem;">
                                الربع الثانى 2021
                            </th>
                            <th class=" text-dark text-xxs" style="width: 2rem;">
                                مدى الأنحراف
                            </th>

                            <th class=" text-dark text-xxs" style="width: 2rem;">
                                المرفق
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in data.expects.all %}
                            <tr>
                              <td class="text-xxs">
                                                                            <a href="{% url 'user-company' item.CompanyEntered.pk %}">
                                    <p class=" text-xxs"> {{ item.CompanyEntered.name }}</p>
                                                                            </a>

                                </td>
                                <td>

                                          <a href="{% url 'user-research' item.ResearchCompany.pk %}">

                                                        <p class="text-xxs  mb-0">{{ item.ResearchCompany.name }}</p>
                                                             </a>
                                </td>
                                <td>

                                    <p class=" text-xxs">{{ item.total_earn }}</p>
                                </td>
                            <td>

                                    <p class=" text-xxs">{{ item.realEarn }}</p>
                                </td>
                            <td>

                                     {% if item.deviationreal < 0 %}
                                        <p class="text-danger text-xxs ">{{ item.deviationreal|floatformat:-5 }} %</p>
                                    {% else %}
                                        <p class="text-success text-xxs">{{ item.deviationreal|floatformat:-5 }} %</p>
                                    {% endif %}
                                </td>
                                <td class="text-xxs">
                                    <p class=" text-xxs">{{ item.second2020 }}</p>

                                </td>
                                <td>
                                    {% if item.deviationsecond2020 < 0 %}
                                        <p class="text-danger text-xxs ">{{ item.deviationsecond2020|floatformat:-5 }} %</p>
                                    {% else %}
                                        <p class="text-success text-xxs">{{ item.deviationsecond2020|floatformat:-5 }} %</p>
                                    {% endif %}
                                </td>

                             <td class="  text-xxs">
                                   <a href="{{ item.report }}"><i class="fas fa-file-pdf text-xxs" aria-hidden="true"></i></a>
                                </td>


                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>

</div>
                                  <div class="row pt-4">
                                      <div class="card card-plain h-100">
                                          <div class="card-header">
              <h6 class="mb-0">توقعات الأرباح</h6>

                                          </div>
                                           <div class="card-body px-0 pb-2">
                <div class="table-responsive">

                    <table style="margin: 0 auto;" class="table table-max table-bordered align-items-center">
                        <thead class="text-black">
                        <tr>
                            <th class="text-dark text-xxs" style="width: 2rem;">
                                الشركة
                            </th>
                            <th class="text-dark text-xxs " style="width: 2rem;">
                                شركة الأبحاث
                            </th>
                            <th class="text-dark text-xxs " style="width: 2rem;">
                                توقعات الأرباح
                            </th>

                            <th class=" text-dark text-xxs" style="width: 2rem;">
                                الربع الثالث 2020
                            </th>

                            <th class=" text-dark text-xxs" style="width: 2rem;">
                                مدى الأنحراف
                            </th>
                            <th class=" text-dark text-xxs" style="width: 2rem;">
                                الربع الثانى 2021
                            </th>
                            <th class=" text-dark text-xxs" style="width: 2rem;">
                                مدى الأنحراف
                            </th>

                            <th class=" text-dark text-xxs" style="width: 2rem;">
                                المرفق
                            </th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for item in data.expects.all %}
                            <tr>
                                <td>

                                        <p class="text-xxs">{{ item.CompanyEntered.name }}</p>
                                </td>
                                <td>

                                        <p class=" text-xxs">{{ item.ResearchCompany.name }}</p>
                                </td>
                                <td>

                                    <p class=" text-xxs">{{ item.realEarn }}</p>
                                </td>
                                <td class="text-xxs">
                                    <p class=" text-xxs">{{ item.third2020 }}</p>

                                </td>
                                <td>
                                    {% if item.deviationthird2020 < 0 %}
                                        <p class="text-danger text-xxs ">{{ item.deviationthird2020|floatformat:-5 }} %</p>
                                    {% else %}
                                        <p class="text-success text-xxs">{{ item.deviationthird2020|floatformat:-5 }} %</p>
                                    {% endif %}
                                </td>
                              <td class="text-xxs">
                                    <p class=" text-xxs">{{ item.second2020 }}</p>

                                </td>
                              <td class="  text-xxs">
                                    {% if item.deviationsecond2020 < 0 %}
                                        <p class="text-danger text-xxs">{{ item.deviationsecond2020|floatformat:-5 }} %</p>
                                    {% else %}
                                        <p class="text-success text-xxs">{{ item.deviationsecond2020|floatformat:-5 }} %</p>
                                    {% endif %}
                                </td>

                             <td class="  text-xxs">
                                   <a href="{{ item.report }}"><i class="fas fa-file-pdf text-xxs" aria-hidden="true"></i></a>
                                </td>


                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>

                </div>
            </div>
                                      </div>

                                  </div>
            </div>


          </div>
        </div>
    </div>

    <div class="row pt-1 pt-lg-1 pb-3">
        <div class="col-12 col-xl-12 pt-3">
            <div class="card h-100">
  <div class="card-header pb-0 p-3">
    <h6 class="mb-0">ملكيات الأسهم</h6>
  </div>
  
  <div class="card-body px-0 pb-2">
    <table style="margin:0 auto;"
           class="table table-bordered align-items-center mb-auto">
           <thead class="text_black">
            <tr>
                <th class="text-center text-xxs" style="width:auto;">
                    المالك
                </th>
                <th class="text-center text-xxs" style="width: auto;">
 عدد الأسهم
                </th>
            </tr>
            </thead>
            <tbody>
                {% for item in arrows %}
                    <tr>
                        <td class="align-middle text-center text-xxs">

                            <a href="{% url 'owner-profile' item.owner.pk %}">
                            <p class="text-xxs  mb-0">{{ item.owner.name }}</p>
                        </a>
                        </td>
                        <td class="align-middle text-center text-xxs">
                            <p class="text-xxs  mb-0">{{ item.numberOFArrows }}</p>
                        </td>
                                    </tr>
                                    {% endfor %}
                                    </tbody>
           </table>
           </div>
  </div>
  </div>
        </div>
</div>
</section>
{% endblock body %}