{% extends 'masterpage.html' %}
{% load static %}
{% block title %} صحيفة مال  {% endblock title %}

{% block body %}
    <section class="min-vh-85 mb-8">
        <div class=" page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg"
             style=" background-image: url('../../../static/images/ksa.jpg');">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-5 text-center mx-auto pt-lg-5">
                    </div>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
                <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
                   <a href="{% url 'all-user-rate' %}">
                        <div class="card">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-8">
                                    <div class="numbers">
                                        <p class="text-sm mb-0 text-capitalize font-weight-bold"> التوصيات على
                                            الأسهم</p>

                                    </div>
                                </div>
                                <div class="col-4 text-start">
                                    <div class="icon icon-shape bg-maal shadow text-center border-radius-md">
                                        <i class="fas fa-sticky-note text-lg opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   </a>
                </div>
                <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
               <a href="{% url 'all-user-expect' %}">
                                       <div class="card">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-8">
                                    <div class="numbers">
                                        <p class="text-sm mb-0 text-capitalize font-weight-bold">التوقعات لأرباح
                                            الشركات</p>
                                        <h5 class="font-weight-bolder mb-0">
                                            <span class="text-success text-sm font-weight-bolder"></span>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-4 text-start">
                                    <div class="icon icon-shape bg-maal shadow text-center border-radius-md">
                                        <i class="fas fa-coins text-lg opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

               </a>
                </div>
            </div>

            <div class="row pt-3">
                <div class="col-12 mx-auto">
                    <div class="card h-100 mb-4 z-index-0 box-shadow">
                        <div class="card-header pb-0">
                            <div class="row  justify-content-center">
                                <div class="col-12 justify-content-center">
                                <button class="btn btn-primary py-2 bg-maal text-white" onclick="myFunction()"><i class="fas fa-search"></i></button>

<div id="myDIV">
                                    <form method="post" class="form-inline justify-content-center">
                                        {% csrf_token %}

                                        {% for filed in myfilter.form %}
                                            <div class="form-group col-12 col-lg-2  py-2">

                                                {{ filed }}
                                            </div>

                                        {% endfor %}
                                        <button class=" btn btn-primary py-2 bg-maal text-white">بحث</button>
                                    </form>
</div>
                                </div>
                            </div>
                        </div>
                        <div class="card-body px-0 pb-2">
                            <table style="margin:0 auto;"
                                   class="table table-max table-bordered align-items-center mb-auto">
                                <thead class="text_black">
                                <tr>
                                    <th class="text-center text-xxs" style="width: 1.5rem;">
                                        الشركة
                                    </th>
                                        <th class="text-center text-xxs" style="width: 2rem;">
                                        شركة الأبحاث
                                    </th>
                                    <th class="text-center   text-xxs " style="width: 2rem;">
                                        التوصية
                                    </th>
                                    <th class="text-center   text-xxs " style="width: 2rem;">
                                        السعر وقت التوصية
                                    </th>
                                    <th class="text-center   text-xxs " style="width: 2.5rem;">
                                        السعر المستهدف
                                    </th>
                                    <th class="text-center   text-xxs " style="width: 2.5rem;">
                                        التغير
                                    </th>
                                    <th class="text-center   text-xxs " style="width: 2.5rem;">
                                        أخر إغلاق
                                    </th>
                                    <th class="text-center   text-xxs " style="width: 2.5rem;">
                                        التغير
                                    </th>
                                     <th class="text-center   text-xxs " style="width: 1.5rem;">
                                         التقرير
                                    </th>
                                  <th class="text-center   text-xxs " style="width: 2rem;">
     تاريخ التوصية
                                    </th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for item in rates %}
                                    <tr>
                                        <td class="align-middle text-center text-xxs">
                                           <a href="{{ item.CompanyEntered.link }}">
                                               <p class="text-xxs  mb-0">{{ item.CompanyEntered.name }}</p>
                                           </a>
                                        </td>
                                      <td class="align-middle text-center text-xxs">
                                            <p class="text-xxs  mb-0">{{ item.ResearchCompany.name }}</p>
                                        </td>
                                        <td class="align-middle text-center text-xxs">
                                            <p class="text-xxs  mb-0">{{ item.get_Recommendation_display }}</p>
                                        </td>
                                        <td class="align-middle text-center text-xxs">
                                            <p class="text-xxs  mb-0">{{ item.CurrenncyValue }}</p>
                                        </td>
                                        <td class="align-middle text-center text-xxs">
                                            <p class="text-xxs  mb-0">{{ item.FairValue }}</p>
                                        </td>
                                        <td class="align-middle text-center text-xxs">
                                            {% if item.changeFair %}
                                                <i class="fas fa-arrow-down text-danger" aria-hidden="true"></i>
                                                <p class="text-xxs text-danger  mb-0">{{ item.fair_percentage |floatformat:-2 }}</p>
                                            {% else %}
                                                <i class="fas fa-arrow-up text-success" aria-hidden="true"></i>
                                                <p class="text-xxs text-success  mb-0">{{ item.fair_percentage |floatformat:-2 }}</p>
                                            {% endif %}
                                        </td>
                                        <td class="align-middle text-center text-xxs">
                                            <p class="text-xxs  mb-0">{{ item.MarketValue }}</p>
                                        </td>
                                        <td class="align-middle text-center text-xxs">
                                            {% if item.changeMarket %}
                                                <i class="fas fa-arrow-down text-danger" aria-hidden="true"></i>
                                                <p class="text-xxs text-danger  mb-0">{{ item.market_percentage |floatformat:-2 }}</p>
                                            {% else %}
                                                <i class="fas fa-arrow-up text-success" aria-hidden="true"></i>
                                                <p class="text-xxs text-success  mb-0">{{ item.market_percentage |floatformat:-2 }}</p>
                                            {% endif %}
                                        </td>

 <td class="align-middle text-center text-xxs">
                                            <a href="../../../static/images/reportspdf/{{ item.report.name }}">
                                                            <i class="fas fa-file-pdf text-danger">
                                                        </i>
                                            </a>
                                        </td>
                                     <td class="align-middle text-center text-xxs">
                                            <p class="text-xxs text-black-50  mb-0">{{ item.RecommendDate|date:"Y-m-d"  }}</p>
                                        </td>

                                    </tr>

                                {% endfor %}

                                </tbody>
                            </table>
                        </div>
                        <div class="card-footer">
                            <div class="col-12 d-flex justify-content-end">
                                <a href="{% url 'all-user-rate' %}"><span
                                        class="badge badge-sm bg-maal">المزيد</span></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row pt-3">
                <div class="col-lg-6 pt-2">
                    <div class="card z-index-0 mx-auto box-shadow">
                        <div class="card-header">
                            <div class="col-12 justify-content-center">
                                <p>أخر 5 شركات تمت التوصية عليها بزيادة الوزن مع السعر المستهدف</p>
                            </div>
                        </div>
                        <div class="card-body justify-content-center">
                            <canvas id="fair-chart"></canvas>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 pt-2">
                    <div class="card z-index-0 mx-auto box-shadow">
                        <div class="card-header">
                            <div class="col-12 justify-content-center">
                                <p>أخر 5 شركات تمت التوصية عليها بتخفيض الوزن مع السعر المستهدف</p>
                            </div>
                        </div>
                        <div class="card-body justify-content-center">
                            <canvas id="fair1-chart"></canvas>
                        </div>
                    </div>

                </div>

            </div>
            <div class="row pt-3">
                <div class="col-lg-6 pt-2">
                    <div class="card z-index-0 mx-auto box-shadow">
                        <div class="card-header">
                            <div class="col-12 justify-content-center">
                                <p>أخر 5 شركات تمت التوصية عليها بمحايد مع السعر المستهدف</p>
                            </div>
                        </div>
                        <div class="card-body justify-content-center">
                            <canvas id="fair2-chart"></canvas>
                        </div>
                    </div>

                </div>
                <div class="col-lg-6 pt-2">
                    <div class="card z-index-0 mx-auto box-shadow">
                        <div class="card-header">
                            <div class="col-12 justify-content-center">
                                <p>أكثر الشركات المدرجة  تقييما</p>
                            </div>
                        </div>
                        <div class="card-body justify-content-center">
                            <canvas id="fair3-chart"></canvas>
                        </div>
                    </div>

                </div>

            </div>
        </div>

    </section>

{% endblock body %}

{% block scripts %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
        var rateFair_config = {
            type: 'bar',
            data: {
                datasets: [{
                    data: {{ data |safe }},
                    backgroundColor: [
                        '#696969', '#A9942A', '#696969', '#A9942A', '#D3D3D3'
                    ],
                    label: 'صحفية مال'
                }],
                labels: {{ label|safe }}
            },
            options: {
                elements: {
                    line: {
                        borderWidth: 3
                    }
                }
            }
        }
        var rateFair1_config = {
            type: 'polarArea',
            data: {
                datasets: [{
                    data: {{ data1 |safe }},
                    backgroundColor: [
                        '#696969', '#A9942A', '#696969', '#A9942A', '#D3D3D3'
                    ],
                }],
                labels: {{ label1|safe }}
            },
            options: {
                elements: {
                    line: {
                        borderWidth: 3
                    }
                }
            }
        }
        var rateFair2_config = {
            type: 'bar',
            data: {
                datasets: [{
                    data: {{ companydata |safe }},
                    backgroundColor: [
                        '#696969', '#A9942A', '#696969', '#A9942A', '#D3D3D3'
                    ],
                }],
                labels: {{ companylabel|safe }}
            },
            options: {
                elements: {
                    line: {
                        borderWidth: 3
                    }
                }
            }
        }
                    var configCompany = {
                type: 'pie',
                data: {
                    datasets: [{
                        data: {{ companydata1|safe }},
                        backgroundColor: [
                            '#696969', '#A9942A', '#000000', '#A9942A', '#D3D3D3'
                        ],
                        label: 'اعلى شركات الأبحاث تقييما'
                    }],
                    labels: {{ companylabel1|safe }}
                },
                options: {
                    responsive: true
                }
            };

        window.onload = function () {
            var Fairctx = document.getElementById('fair-chart').getContext('2d');
            window.myPie = new Chart(Fairctx, rateFair_config);
            var Fair1ctx = document.getElementById('fair1-chart').getContext('2d');
            window.myPie = new Chart(Fair1ctx, rateFair1_config);
            var Fair2ctx = document.getElementById('fair2-chart').getContext('2d');
            window.myPie = new Chart(Fair2ctx, rateFair2_config);
            var Fair3ctx = document.getElementById('fair3-chart').getContext('2d');
            window.myPie = new Chart(Fair3ctx, configCompany);
        }

    </script>
    <script>
        document.getElementById("id_company").className = "form-control";
        document.getElementById("id_company").setAttribute('placeholder', 'البحث باسم الشركة');
        document.getElementById("id_code").className = "form-control";
        document.getElementById("id_code").setAttribute('placeholder', 'البحث بكود الشركة');
        document.getElementById("id_date_of_rate").className = "form-control";
        document.getElementById("id_date_of_rate").setAttribute('type', 'date');
        document.getElementById("id_date_of_rate").setAttribute('placeholder', 'التوصية إلى');
        document.getElementById("id_end_of_rate").className = "form-control";
        document.getElementById("id_end_of_rate").setAttribute('type', 'date');
        document.getElementById("id_end_of_rate").setAttribute('placeholder', 'التوصية من');
        document.getElementById("id_analyst").className = "form-control";
        document.getElementById("id_analyst").setAttribute('placeholder', 'البحث باسم المحلل');
  var x = document.getElementById("myDIV");
  x.style.display = "none";
        function myFunction() {
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
    </script>
{% endblock scripts %}