{% extends 'userlayout.html' %}
{% load static %}
{% block title %} صحيفة مال  {% endblock title %}

{% block body %}
    <div class="m position-relative"
         style="background-color: #f4f4f4">
        <main class="main-content border-radius-sm">
            <div class="section min-vh-100 position-relative transform-scale-0 transform-scale-md-0 m-auto m-0">
                <div class="container">
  <div class="row pt-8 justify-content-center">
                 <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-8">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-capitalize font-weight-bold">  التوصيات على الأسهم</p>

                        </div>
                    </div>
                    <div class="col-4 text-start">
                        <div class="icon icon-shape bg-maal shadow text-center border-radius-md">
                            <i class="fas fa-sticky-note text-lg opacity-10" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
        <div class="card">
            <div class="card-body p-3">
                <div class="row">
                    <div class="col-8">
                        <div class="numbers">
                            <p class="text-sm mb-0 text-capitalize font-weight-bold">التوقعات لأرباح الشركات</p>
                            <h5 class="font-weight-bolder mb-0">
                                <span class="text-success text-sm font-weight-bolder"></span>
                            </h5>
                        </div>
                    </div>
                    <div class="col-4 text-start">
                        <div class="icon icon-shape bg-maal shadow text-center border-radius-md">
                            <i class="fas fa-coins text-lg opacity-10" aria-hidden="true"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
                    <div class="row pt-3">
                        <div class="col-12 mx-auto">
                <div class="card h-100 mb-4 z-index-0">
                                <div class="card-header pb-0">
                                    <div class="row  justify-content-center">
                                        <div class="col-12 justify-content-center">
                                            <form class="form-inline justify-content-center" >
      <div class="form-group py-2 ">
                                                  <select name="cars" id="cars">
  <option value="volvo" disabled selected>البحث برمز الشركة</option>
  <option value="saab">S</option>

</select>
      </div>
                                <div class="form-group  py-2 ">
                                                  <select name="cars" id="cars">
  <option value="volvo" disabled selected>  القطاع</option>
  <option value="saab">S</option>

</select>
      </div>
                                                  <div class="form-group  py-2 ">
                                                  <select name="cars" id="cars">
  <option value="volvo" disabled selected>البحث بشركة الأبحاث</option>
  <option value="saab">S</option>

</select>
      </div>
                                                  <div class="form-group  py-2 ">
                                                  <select name="cars" id="cars">
  <option value="volvo" disabled selected>البحث  باسم المحلل</option>
  <option value="saab">S</option>

</select>
      </div>
                                                <button class=" btn btn-primary py-2 bg-maal text-white">بحث</button>
</form>
                                        </div>
                                    </div>
                                </div>
<div class="card-body px-0 pb-2">
                                    <div class="table-responsive">

                                        <table class="table table-bordered align-items-center mb-auto">
                                            <thead class="text_black">
                                            <tr>
                                                <th class="  text-xxs ">
                                                    شركة الأبحاث
                                                </th>
                                                <th class="  text-xxs  ps-2">
                                                   الشركة
                                                </th>
                                                <th class="text-center   text-xxs ">
                                                    القطاع
                                                </th>
                                                <th class="text-center   text-xxs ">
                                                    المحلل
                                                </th>
                                                <th class="text-center   text-xxs ">
                                                    التوصية
                                                </th>
                                                <th class="text-center   text-xxs ">
                                                    السعر وقت التوصية
                                                </th>
                                                <th class="text-center   text-xxs ">
                                                   السعر المستهدف
                                                </th>
                                                <th class="text-center   text-xxs ">
                                                   التغير
                                                </th>
                                                <th class="text-center   text-xxs ">
                                                   السعر الحالى
                                                </th>
                                                <th class="text-center   text-xxs ">
                                                    التغير
                                                </th>
                                                 <th class="text-center   text-xxs ">
                                                    تحميل
                                                </th>
                                                 <th class="text-center   text-xxs ">
                                                    تاريخ التوصية
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in rates %}
                                                <tr>
                                                    <td class="align-middle text-center text-xxs">
                                                          <p class="mb-0 text-xxs">{{ item.ResearchCompany.name }}</p>
                                                    </td>

                                                    <td class="align-middle text-center text-xxs">
                                                        <p class="text-xxs  mb-0">{{ item.CompanyEntered.name }}</p>
                                                    </td>
                                                    <td class="align-middle text-center text-xxs">
                                                            <p class="text-xxs">{{ item.CompanyEntered.category.name }}</p>
                                                    </td>
                                                    <td class="align-middle text-center text-xxs">
                                                  <a  href="{% url 'user-interface' item.AnalayticName.pk %}">
                                                            <p class="text-xxs">{{ item.AnalayticName.name }}</p>
                                                        </a>
                                                    </td>
                                                    <td class="align-middle text-center text-xxs">
                                                        <p class="text-xxs  mb-0">{{ item.get_Recommendation_display }}</p>
                                                    </td>
                                                    <td class="align-middle text-center text-xxs">
                                                        <p class="text-xxs  mb-0">{{ item.CurrenncyValue }}</p>
                                                    </td>
                                                    <td class="align-middle text-center text-xxs">
                                                        <p class="text-xxs  mb-0">{{ item.FairValue }}</p>
                                                    </td>
                                                    <td class="align-middle text-center text-xxs">
                                                       {% if item.changeFair %}
                                                           <p class="text-xxs text-danger  mb-0">{{ item.fair_percentage |floatformat:-2 }}</p>
                                                        {% else %}
                                                           <p class="text-xxs text-success  mb-0">{{ item.fair_percentage |floatformat:-2 }}</p>
                                                        {% endif %}
                                                    </td>
                                                    <td class="align-middle text-center text-xxs">
                                                        <p class="text-xxs  mb-0">{{ item.MarketValue }}</p>
                                                    </td>
                                                    <td class="align-middle text-center text-xxs">
                                                       {% if item.changeMarket %}
                                                           <p class="text-xxs text-danger  mb-0">{{ item.market_percentage |floatformat:-2 }}</p>
                                                        {% else %}
                                                           <p class="text-xxs text-success  mb-0">{{ item.market_percentage |floatformat:-2 }}</p>
                                                        {% endif %}
                                                    </td>
                                                    <td class="align-middle text-center text-xxs">
                                                        <a href="../../../static/images/reportspdf/{{ item.report.name }}" >
                                                            <i class="far fa-file-pdf text-danger"></i>
                                                        </a>
                                                    </td>

                                                    <td class="align-middle text-center text-xxs">
                                                        <p class="text-xxs text-black-50">{{ item.RecommendDate }}</p>
                                                </tr>
                                            {% endfor %}

                                            </tbody>
                                        </table>

                                    </div>
                                </div>
                </div>
                        </div>
                    </div>

                <div class="row pt-3">
                    <div class="col-lg-6">
                        <div class="card z-index-0 mx-auto">
                             <div class="card-header">
                                <div class="col-12 justify-content-center">
                                    <p>أخر 5 شركات تمت التوصية عليها بزيادة الوزن مع السعر المستهدف</p>
                                </div>
                            </div>
                            <div class="card-body justify-content-center">
                                <canvas id="fair-chart"></canvas>
                            </div>
                        </div>

                    </div>
                                  <div class="col-lg-6">
                        <div class="card z-index-0 mx-auto">
                            <div class="card-header">
                                <div class="col-12 justify-content-center">
                                    <p>أخر 5 شركات تمت التوصية عليها بتخفيض الوزن مع السعر المستهدف</p>
                                </div>
                            </div>
                            <div class="card-body justify-content-center">
                                <canvas id="fair1-chart"></canvas>
                            </div>
                        </div>

                    </div>

                </div>
                <div class="row pt-3">
                                                      <div class="col-lg-6">
                        <div class="card z-index-0 mx-auto">
                            <div class="card-header">
                                <div class="col-12 justify-content-center">
                                    <p>أخر 5 شركات تمت التوصية عليها بمحايد مع السعر المستهدف</p>
                                </div>
                            </div>
                            <div class="card-body justify-content-center">
                                <canvas id="fair2-chart"></canvas>
                            </div>
                        </div>

                    </div>

                </div>

                </div>
            </div>
        </main>
    </div>
{% endblock body %}

{% block scripts %}

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script>
            var rateFair_config = {
            type: 'bar',
            data: {
                datasets: [{
                    data: {{ data |safe }},
                    backgroundColor: [
                        '#696969', '#A9942A', '#696969', '#A9942A', '#D3D3D3'
                    ],
                    label: 'صحفية مال'
                }],
                labels: {{ label|safe }}
            },
            options: {
    elements: {
      line: {
        borderWidth: 3
      }
    }
  }
        }
        var rateFair1_config = {
            type: 'polarArea',
            data: {
                datasets: [{
                    data: {{ data1 |safe }},
                    backgroundColor: [
                        '#696969', '#A9942A', '#696969', '#A9942A', '#D3D3D3'
                    ],
                }],
                labels: {{ label1|safe }}
            },
            options: {
    elements: {
      line: {
        borderWidth: 3
      }
    }
  }
        }
         var rateFair2_config = {
            type: 'pie',
            data: {
                datasets: [{
                    data: {{ companydata |safe }},
                    backgroundColor: [
                        '#696969', '#A9942A', '#696969', '#A9942A', '#D3D3D3'
                    ],
                }],
                labels: {{ companylabel|safe }}
            },
            options: {
    elements: {
      line: {
        borderWidth: 3
      }
    }
  }
        }
         window.onload = function () {
             var Fairctx = document.getElementById('fair-chart').getContext('2d');
             window.myPie = new Chart(Fairctx, rateFair_config);
              var Fair1ctx = document.getElementById('fair1-chart').getContext('2d');
             window.myPie = new Chart(Fair1ctx, rateFair1_config);
              var Fair2ctx = document.getElementById('fair2-chart').getContext('2d');
             window.myPie = new Chart(Fair2ctx, rateFair2_config);
         }

    </script>

{% endblock scripts %}