{% extends 'masterpage.html' %}
{% load static %}
{% block title %}  صحفية مال {% endblock title %}


{% block body %}
<section class="min-vh-85 mb-8">
    <div class=" page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style=" background-image: url('../../../static/images/home-back.jpg');">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 text-center mx-auto pt-lg-5">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
               <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
          <div class="card z-index-0 ">
                        <div class="card-header p-3">
                            <div class="row  justify-content-center">
                                <div class="col-12 justify-content-center">
                                    <form method="get" class="form-inline justify-content-center">
                                        {% csrf_token %}

                                        {% for filed in myfilter.form %}
                                            <div class="form-group  py-2">

                                                {{ filed }}
                                            </div>

                                        {% endfor %}
                                        <button class=" btn btn-primary py-2 bg-maal text-white">بحث</button>
                                    </form>
                                </div>
                            </div>
                        </div>
            <div class="card-body px-0 pb-2">
              <div class="table-responsive">
                                        <table style="margin:0 auto;" class="table table-max table-bordered align-items-center mb-auto">
                                            <thead class="text_black">
                                            <tr>
                                                 <th class="text-center text-xxs">
                                                   الشركة
                                                </th>

                                                <th class="text-center   text-xxs ">
                                                    التوصية
                                                </th>
                                                <th class="text-center   text-xxs ">
                                                    السعر وقت التوصية
                                                </th>
                                                <th class="text-center   text-xxs ">
                                                   السعر المستهدف
                                                </th>
                                                <th class="text-center   text-xxs ">
                                                   التغير
                                                </th>
                                                <th class="text-center   text-xxs ">
                                                   السعر الحالى
                                                </th>
                                                <th class="text-center   text-xxs ">
                                                    التغير
                                                </th>

                                                 <th class="text-center   text-xxs ">
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in rates %}
                                                <tr>
                                                    <td class="align-middle text-center text-xxs">
                                                        <h6 class="text-xxs  mb-0">{{ item.CompanyEntered.name }}</h6>
                                                    </td>

                                                    <td class="align-middle text-center text-xxs">
                                                        <p class="text-xxs  mb-0">{{ item.get_Recommendation_display }}</p>
                                                    </td>
                                                    <td class="align-middle text-center text-xxs">
                                                        <p class="text-xxs  mb-0">{{ item.CurrenncyValue }}</p>
                                                    </td>
                                                    <td class="align-middle text-center text-xxs">
                                                        <p class="text-xxs  mb-0">{{ item.FairValue }}</p>
                                                    </td>
                                                    <td class="align-middle text-center text-xxs">
                                                       {% if item.changeFair %}
                                                           <p class="text-xxs text-danger  mb-0">{{ item.fair_percentage |floatformat:-2 }}</p>
                                                        {% else %}
                                                           <p class="text-xxs text-success  mb-0">{{ item.fair_percentage |floatformat:-2 }}</p>
                                                        {% endif %}
                                                    </td>
                                                    <td class="align-middle text-center text-xxs">
                                                        <p class="text-xxs  mb-0">{{ item.MarketValue }}</p>
                                                    </td>
                                                    <td class="align-middle text-center text-xxs">
                                                       {% if item.changeMarket %}
                                                           <p class="text-xxs text-danger  mb-0">{{ item.market_percentage |floatformat:-2 }}</p>
                                                        {% else %}
                                                           <p class="text-xxs text-success  mb-0">{{ item.market_percentage |floatformat:-2 }}</p>
                                                        {% endif %}
                                                    </td>


                                                    <td class="align-middle text-center text-xxs">
                                                       <a href="{% url 'user-rate' item.pk %}">
                                                            <span class="badge badge-sm bg-maal">
                                                            المزيد
                                                        </span>
                                                       </a>
                                                    </td>

                                                </tr>

                                            {% endfor %}

                                            </tbody>
                                        </table>


              </div>
            </div>
          </div>
         </div>

      </div>
    </div>
</section>
{% endblock body %}
{% block scripts %}
    <script>
        document.getElementById("id_company").className = "form-control";
        document.getElementById("id_company").setAttribute('placeholder', 'البحث باسم الشركة');
        document.getElementById("id_code").className = "form-control";
        document.getElementById("id_code").setAttribute('placeholder', 'البحث بكود الشركة');
        document.getElementById("id_date_of_rate").className = "form-control";
        document.getElementById("id_date_of_rate").setAttribute('type', 'date');
        document.getElementById("id_date_of_rate").setAttribute('placeholder', 'تاريخ التوصية');
        document.getElementById("id_analyst").className = "form-control";
        document.getElementById("id_analyst").setAttribute('placeholder', 'البحث باسم المحلل');

    </script>
{% endblock scripts %}