{% extends 'masterpage.html' %}
{% load static %}
{% block title %}  صحفية مال {% endblock title %}


{% block body %}
<section class="min-vh-85 mb-8">
    <div class=" page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style=" background-image: url('../../../static/images/maalbg.jpeg');">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 text-center mx-auto pt-lg-5">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
     {% include 'partials/menus/_mainMenu.html' %}
    </div>
      <div class="row pt-3 justify-content-center">
          <div class="col-lg-12">
          <div class="card h-100 box-shadow">
            <div class="card-header pb-0 p-3">
              <div class="row d-flex justify-content-between">
                <div class="col-6 text-end">
                  <a href="{% url 'all-user-rate' %}" class="btn btn-outline-primary mal-color btn-sm mb-0">جميع التقييمات</a>
                </div>
              </div>
            </div>
            <div class="card-body p-3 pb-0">
              <div class="table-responsive">
                                        <table style="margin:0 auto;" class="table table-max table-bordered align-items-center mb-auto">
                                            <thead class="text_black">
                                            <tr>
                                                 <th class="text-center text-xxs sent" >
                                                   الشركة
                                                </th>
  <th class="text-center text-xxs sent" >
                                                   شركة الأبحاث
                                                </th>
 <th class="text-center   text-xxs sent">
                                                    المحلل
                                                </th>
                                                <th class="text-center   text-xxs sent">
                                                    التوصية
                                                </th>
                                                <th class="text-center   text-xxs sent">
                                                    السعر وقت التوصية
                                                </th>
                                                <th class="text-center   text-xxs sent">
                                                   السعر المستهدف
                                                </th>
                                                <th class="text-center   text-xxs sent">
                                                   التغير
                                                </th>
                                                <th class="text-center   text-xxs sent">
                                                   السعر الحالى
                                                </th>
                                                <th class="text-center   text-xxs sent">
                                                    التغير
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    <td class="align-middle text-center text-xxs">
                                                        <a href="{% url 'user-company' rate.CompanyEntered.id %}">
                                                            <h6 class="text-xxs  mb-0">{{ rate.CompanyEntered.name }}</h6>
                                                        </a>
                                                    </td>
 <td class="align-middle text-center text-xxs">
                                                         <a href="{% url 'user-research' rate.ResearchCompany.id %}">

                                                        <p class="text-xxs  mb-0">{{ rate.ResearchCompany.name }}</p>
                                                             </a>
                                                    </td>
                                                 <td class="align-middle text-center text-xxs">
                                                     {% if rate.AnalayticName.id  %}
                                                     <a href="{% url 'user-interface' rate.AnalayticName.id %}">
                                                      <p class="text-xxs  mb-0">{{ rate.AnalayticName.name }}</p>
                                                 </a>
                                                     {% else %}
                                                     <p class="text-xxs  mb-0">لا يوجد محلل </p>
                                                     {% endif %}
                                                    </td>
                                                    <td class="align-middle text-center text-xxs">
                                                        <p class="text-xxs  mb-0">{{ rate.get_Recommendation_display }}</p>
                                                    </td>
                                                    <td class="align-middle text-center text-xxs">
                                                        <p class="text-xxs  mb-0">{{ rate.CurrenncyValue }}</p>
                                                    </td>
                                                    <td class="align-middle text-center text-xxs">
                                                        <p class="text-xxs  mb-0">{{ rate.FairValue }}</p>
                                                    </td>
                                                    <td class="align-middle text-center text-xxs">
                                                       {% if rate.changeFair %}
                                                           <p class="text-xxs text-danger  mb-0">{{ rate.fair_percentage |floatformat:-2 }}</p>
                                                        {% else %}
                                                           <p class="text-xxs text-success  mb-0">{{ rate.fair_percentage |floatformat:-2 }}</p>
                                                        {% endif %}
                                                    </td>
                                                    <td class="align-middle text-center text-xxs">
                                                        <p class="text-xxs  mb-0">{{ rate.MarketValue }}</p>
                                                    </td>
                                                    <td class="align-middle text-center text-xxs">
                                                       {% if rate.changeMarket %}
                                                           <p class="text-xxs text-danger  mb-0">{{ rate.market_percentage |floatformat:-2 }}</p>
                                                        {% else %}
                                                           <p class="text-xxs text-success  mb-0">{{ rate.market_percentage |floatformat:-2 }}</p>
                                                        {% endif %}
                                                    </td>

                                                </tr>


                                            </tbody>
                                        </table>


              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
</section>
{% endblock body %}

