{% extends 'masterpage.html' %}
{% load static %}
{% block title %}  صحفية مال {% endblock title %}


{% block body %}
<section class="min-vh-85 mb-8">
    <div class=" page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg" style=" background-image: url('../../../static/images/tada.jpg');">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 text-center mx-auto pt-lg-5">
          </div>
        </div>
      </div>
    </div>
    <div class="container">
                <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
                <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
                   <a href="{% url 'all-user-rate' %}">
                        <div class="card">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-8">
                                    <div class="numbers">
                                        <p class="text-sm mb-0 text-capitalize font-weight-bold"> التوصيات على
                                            الأسهم</p>

                                    </div>
                                </div>
                                <div class="col-4 text-start">
                                    <div class="icon icon-shape bg-maal shadow text-center border-radius-md">
                                        <i class="fas fa-sticky-note text-lg opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                   </a>
                </div>
                <div class="col-lg-3 col-sm-6 mb-lg-0 mb-4">
               <a href="{% url 'all-user-expect' %}">
                                       <div class="card">
                        <div class="card-body p-3">
                            <div class="row">
                                <div class="col-8">
                                    <div class="numbers">
                                        <p class="text-sm mb-0 text-capitalize font-weight-bold">التوقعات لأرباح
                                            الشركات</p>
                                        <h5 class="font-weight-bolder mb-0">
                                            <span class="text-success text-sm font-weight-bolder"></span>
                                        </h5>
                                    </div>
                                </div>
                                <div class="col-4 text-start">
                                    <div class="icon icon-shape bg-maal shadow text-center border-radius-md">
                                        <i class="fas fa-coins text-lg opacity-10" aria-hidden="true"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

               </a>
                </div>
            </div>

      <div class="row pt-3">
               <div class="col-lg-12 col-md-12 mb-md-0 mb-4">
          <div class="card z-index-0 ">
<div class="card-header pb-0">
                            <div class="row  justify-content-center">
                                <div class="col-12 justify-content-center">
                                <button class="btn btn-primary py-2 bg-maal text-white" onclick="myFunction()"><i class="fas fa-search"></i></button>

<div id="myDIV">
                                    <form method="post" class="form-inline justify-content-center">
                                        {% csrf_token %}

                                        {% for filed in myfilter.form %}
                                            <div class="form-group col-12 col-lg-2  py-2">

                                                {{ filed }}
                                            </div>

                                        {% endfor %}
                                        <button class=" btn btn-primary py-2 bg-maal text-white">بحث</button>
                                    </form>
</div>
                                </div>
                            </div>
                        </div>
              <div class="card-body px-0 pb-2">
              <div class="table-responsive">
                                        <table style="margin:0 auto;" class="table table-max table-bordered align-items-center mb-auto">
                                            <thead class="text_black">
                                            <tr>
                                                 <th class="text-center text-xxs sent" >
                                                   الشركة
                                                </th>
  <th class="text-center text-xxs sent" >
                                                   شؤكة الأبحاث
                                                </th>

                                                <th class="text-center   text-xxs sent">
                                                    التوصية
                                                </th>
                                                <th class="text-center   text-xxs sent">
                                                    السعر وقت التوصية
                                                </th>
                                                <th class="text-center   text-xxs sent">
                                                   السعر المستهدف
                                                </th>
                                                <th class="text-center   text-xxs sent">
                                                   التغير
                                                </th>
                                                <th class="text-center   text-xxs sent">
                                                   السعر الحالى
                                                </th>
                                                <th class="text-center   text-xxs sent">
                                                    التغير
                                                </th>

                                                 <th class="text-center   text-xxs sent">
                                                </th>
                                            </tr>
                                            </thead>
                                            <tbody>
                                            {% for item in rates %}
                                                <tr>
                                                    <td class="d-flex" style="justify-content: space-around; ">
                                                        {% if request.user.user_type == 3 %}
                                                         <a  href="{% url 'add_wish' item.CompanyEntered.pk %}" style="margin-inline:0.2 ;">
                                                           <i class="far fa-bookmark"></i>
           </a>           
           
                 {% endif %}
                                                        <a href="{% url 'user-company' item.CompanyEntered.pk %}">
           
                                                   <p class="text-xxs">{{ item.CompanyEntered.name }}</p>
           </a>
               
                                           </td>
 <td class="align-middle text-center text-xxs">
                                                             <a href="{% url 'user-research' item.ResearchCompany.pk %}">

                                                        <p class="text-xxs  mb-0">{{ item.ResearchCompany.name }}</p>
                                                             </a>
                                                    </td>
                                                    <td class="align-middle text-center text-xxs">
                                                        <p class="text-xxs  mb-0">{{ item.get_Recommendation_display }}</p>
                                                    </td>
                                                    <td class="align-middle text-center text-xxs">
                                                        <p class="text-xxs  mb-0">{{ item.CurrenncyValue }}</p>
                                                    </td>
                                                    <td class="align-middle text-center text-xxs">
                                                        <p class="text-xxs  mb-0">{{ item.FairValue }}</p>
                                                    </td>
                                                    <td class="align-middle text-center text-xxs">
                                                       {% if item.changeFair %}
                                                           <p class="text-xxs text-danger  mb-0">{{ item.fair_percentage |floatformat:-2 }}</p>
                                                        {% else %}
                                                           <p class="text-xxs text-success  mb-0">{{ item.fair_percentage |floatformat:-2 }}</p>
                                                        {% endif %}
                                                    </td>
                                                    <td class="align-middle text-center text-xxs">
                                                        <p class="text-xxs  mb-0">{{ item.MarketValue }}</p>
                                                    </td>
                                                    <td class="align-middle text-center text-xxs">
                                                       {% if item.changeMarket %}
                                                           <p class="text-xxs text-danger  mb-0">{{ item.market_percentage |floatformat:-2 }}</p>
                                                        {% else %}
                                                           <p class="text-xxs text-success  mb-0">{{ item.market_percentage |floatformat:-2 }}</p>
                                                        {% endif %}
                                                    </td>


                                                    <td class="align-middle text-center text-xxs">
                                                       <a href="{% url 'user-rate' item.pk %}">
                                                            <span class="badge badge-sm bg-maal">
                                                            المزيد
                                                        </span>
                                                       </a>
                                                    </td>

                                                </tr>

                                            {% endfor %}

                                            </tbody>
                                        </table>


              </div>
              {% include 'partials/_pagination.html' with page_obj=rates only %}

            </div>
          </div>
         </div>
      </div>
    </div>
</section>
{% endblock body %}
{% block scripts %}
    <script>
        document.getElementById("id_company").className = "form-control";
        document.getElementById("id_company").setAttribute('placeholder', 'البحث باسم الشركة');
        document.getElementById("id_code").className = "form-control";
        document.getElementById("id_code").setAttribute('placeholder', 'البحث بكود الشركة');
        document.getElementById("id_date_of_rate").className = "form-control";
        document.getElementById("id_date_of_rate").setAttribute('type', 'date');
        document.getElementById("id_date_of_rate").setAttribute('placeholder', 'التوصية إلى');
        document.getElementById("id_end_of_rate").className = "form-control";
        document.getElementById("id_end_of_rate").setAttribute('type', 'date');
        document.getElementById("id_end_of_rate").setAttribute('placeholder', 'التوصية من');
        document.getElementById("id_analyst").className = "form-control";
        document.getElementById("id_analyst").setAttribute('placeholder', 'البحث باسم المحلل');

    </script>
     <script>
        document.getElementById("id_company").className = "form-control";
        document.getElementById("id_company").setAttribute('placeholder', 'البحث باسم الشركة');
        document.getElementById("id_code").className = "form-control";
        document.getElementById("id_code").setAttribute('placeholder', 'البحث بكود الشركة');
        document.getElementById("id_date_of_rate").className = "form-control";
        document.getElementById("id_date_of_rate").setAttribute('type', 'date');
        document.getElementById("id_date_of_rate").setAttribute('placeholder', 'التوصية إلى');
        document.getElementById("id_end_of_rate").className = "form-control";
        document.getElementById("id_end_of_rate").setAttribute('type', 'date');
        document.getElementById("id_end_of_rate").setAttribute('placeholder', 'التوصية من');
        document.getElementById("id_analyst").className = "form-control";
        document.getElementById("id_analyst").setAttribute('placeholder', 'البحث باسم المحلل');
  var x = document.getElementById("myDIV");
  x.style.display = "none";
        function myFunction() {
  if (x.style.display === "none") {
    x.style.display = "block";
  } else {
    x.style.display = "none";
  }
}
    </script>
{% endblock scripts %}