{% load static %}
 <nav class="navbar navbar-expand-lg position-absolute top-0 z-index-3 w-100 shadow-none my-3  navbar-transparent mt-4">
    <div class="container">
      <a class="navbar-brand font-weight-bolder ms-lg-0 ms-3 text-white" href="{% url 'user-home' %}">
          <img src="{% static 'images/short_logo.png' %}" class="logo_login" />

      </a>
      <button class="navbar-toggler shadow-none ms-2" type="button" data-bs-toggle="collapse" data-bs-target="#navigation" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon mt-2">
          <span class="navbar-toggler-bar bar1"></span>
          <span class="navbar-toggler-bar bar2"></span>
          <span class="navbar-toggler-bar bar3"></span>
        </span>
      </button>
      <div class="collapse navbar-collapse w-100 pt-3 pb-2 py-lg-0" id="navigation">
                                  <ul class="navbar-nav navbar-nav-hover mx-auto">
                                                                   {% if request.user.first_name %}
                                                                        <li class="nav-item">
                                    <a class="nav-link me-2" href="{% url 'logout' %}">
                                        <i class="fas fa-power-off opacity-6 text-primary me-1" aria-hidden="true"></i>
                                        تسجيل خروج
                                    </a>
                                </li>
                                                                        <li class="nav-item">
                                    <a class="nav-link me-2" href="{% url 'profile' %}">
                                        <i class="fa fa-user opacity-6 text-primary me-1" aria-hidden="true"></i>
                                        الملف الشخصى
                                    </a>
                                </li>
                                   {% if request.user.user_type == 3 %}
                                     <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" href="{% url 'user-home' %}">
                                        <i class="fa fa-home opacity-6 text-primary me-1" aria-hidden="true"></i>
                                        الصفحة الرئيسية
                                    </a>
                                </li>
                                    <li class="nav-item  d-lg-none">
                                    <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" href="{% url 'all_wish' %}">
                                        <i class="fa fa-heart opacity-6 text-primary me-1" aria-hidden="true"><span class="text-black text-bold" style="margin-inline:0.2rem;"> {{ request.session.wish_count }}</span></i>
المحفظة                                  
  </a>
                                </li>
                                {% else %}
                                      <li class="nav-item">
                                    <a class="nav-link d-flex align-items-center me-2 active" aria-current="page" href="{% url 'home-page' %}">
                                        <i class="fa fa-chart-pie opacity-6 text-primary me-1" aria-hidden="true"></i>
                                        لوحة التحكم
                                    </a>
                                </li>
 {% endif %}
                                        {% else %}
                                                                                       <li class="nav-item">
                                    <a class="nav-link me-2" href="{% url 'user-page' %}">
                                        <i class="fas fa-home opacity-6 text-primary me-1" aria-hidden="true"></i>
                                       الصفحة الرئيسية
                                    </a>

                                </li>
                                                                                    <li class="nav-item">
                                    <a class="nav-link me-2" href="{% url 'login' %}">
                                        <i class="fas fa-key opacity-6 text-primary me-1" aria-hidden="true"></i>
                                        تسجيل دخول
                                    </a>

                                </li>
                                    </li>
                                                                                    <li class="nav-item">
                                    <a class="nav-link me-2" href="{% url 'add-client' %}">
                                        <i class="fas fa-user opacity-6 text-primary me-1" aria-hidden="true"></i>
                                       خدمات الموقع
                                    </a>

                                </li>
                                    {% endif %}

                            </ul>


        <ul class="navbar-nav d-lg-block d-none">
         {% if request.user.user_type == 3  %}
          <li class="nav-item">
            <a href="{% url 'all_wish' %}" class="btn btn-sm text-white bg-maal  btn-round mb-0 me-1 text-lg">المحفظة <span class="text-white text-lg" style="margin-inline:0.2rem;"> {{ request.session.wish_count }}</span></a>
          </li>
          {% else %}
           <li class="nav-item">
            <a href="https://www.maaal.com/" class="btn btn-sm text-white bg-maal  btn-round mb-0 me-1">موقعنا</a>
          </li>
         {% endif %}
        </ul>
      </div>
    </div>
  </nav>

